body{
    background-color: black !important;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar li:hover{
    border: 2.5px solid transparent;
}

h1, p{
    color: white;
    font-family: "Courier New";
}

h1
{
    text-transform: uppercase;
}
