header{
/*    height: 100px;*/
}

body
{
    background-color: black !important;
    background-size: cover;
    height: 100vh;
}

.logo img
{
    width: 150px;
    height: auto;
    float: left;
}

.navbar li:hover{
    border: 1px solid white;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-align: left;
}

h4{
    color: white;
    text-align: left;
}

h6{
    color: white;
    font-size: 15px;
    text-align: left;
}

p{
    color: white;
/*    width: 1200px;*/
    text-align: left;
    padding-left: 30px;
}

.soon {
    align-content: center;
}

.soon h1{
    text-align: center;
    
}

