body{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/golf-page/Big-West-2019-1.JPG);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar li:hover{
    border: 2.5px solid transparent;
}

h1
{
    color: white;
    text-transform: uppercase;
}

h4, h5, p{
    color: white;
}