body
{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/main-page/hello-world.jpg);
    background-size: cover;
    background-position: center;
}

.navbar li:hover{
    border: 2.5px solid transparent;
}

h1, h2, a {
    color: white !important;
}

.collapsible{
    font-size: 15px;
    background: none;
    color: white;
    padding: 5px 15px;
    border: 1px solid white;
}

.active, .collapsible:hover{
    border: 3px solid transparent;
}

.update{
    display: none;
}

.project0, .project1{
    color: white;
    line-height: 1.5;
}