body
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/html.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: black;
}

li{
    font-size: 15px;
}

.navbar li:hover{
    border: 2.5px solid transparent;
}

.collapsible{
    font-family: "Courier New", sans-serif;
    font-size: 20px;
    background: none;
    color: white;
    padding: 5px 15px;
    border: none;
}

.active, .collapsible:hover{
    border: 1px solid white;
}

.look-code{
    border: 1px solid white;
    font-size: 15px;
    margin-top: 10px;
}

.look-code:hover{
    border: 1px dotted white;
}

.difficulty{
    height: 600px;
    overflow: scroll;
}

.easy, .intermediate{
    display: none;
}

.projects li{
    line-height: 1.5;
}

.projects{
    color: white;
}

.code{
    font-family: "Courier New", sans-serif;
    padding: 10px;
    background-color: white;
    color: black;
    line-height: 1.5;
    margin-top: 20px;
    display: none;
}